<div class="navbar navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%#= link_to root_path, class: "navbar-brand" do %>
      <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# end %>

    <button class="navbar-toggler ms-auto border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item text-end">
              <%= link_to "home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item text-end">
              <%= link_to "journals", journals_path, class: "nav-link" %>
            </li>
            <li class="nav-item text-end">
              <%= link_to "new journal", new_journal_path, class: "nav-link" %>
            </li>
            <li class="nav-item text-end">
              <%= link_to "todos", todos_path, class: "nav-link" %>
            </li>
            <li class="nav-item text-end dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                😒
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Notifications - WIP", "#", class: "dropdown-item" %>
                <%= link_to "Settings - WIP", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>



  </div>
</div>
