<!--app/views/todos/_form.html.erb-->

<%= form_with(model: todo) do |form| %>
  <div class="user-content">
    <%= form.label :title %>
    <%= form.text_field :title, class: "user-content" %>
  </div>

  <div class="user-content">
    <%= form.label :description %>
    <%= form.text_area :description, class: "user-content" %>
  </div>

  <div class="user-content">
    <%= form.label :due_date %>
    <%= form.date_field :due_date, class: "user-content" %>
  </div>

  <div>
    <%= form.submit "Update", class: "btn" %>
  </div>
<% end %>
