<!--app/view/todos/index.html.erb-->
<%= turbo_stream_from "journal_stream" %>
<% content_for :body_class, "lined-paper" %>
<!-- Swiping actions -->
<% back_id = params[:back_journal_id].presence || params[:journal_id].presence %>
<div
  data-controller="swipe"
  <%# When viewing a specific journal's todos %>
  <% if @journal %>
    data-swipe-left-url-value="<%= journal_path(@journal) %>"
    data-swipe-up-url-value="<%= todos_path(back_journal_id: @journal.id) %>"
  <% elsif back_id %>
    data-swipe-up-url-value="<%= todos_path(journal_id: back_id) %>"
  <% else %>
    data-swipe-right-url-value="<%= journal_path(@journal) %>"
  <% end %>
  style="min-height: 100vh;"
>

  <div class="main-container">
    <!-- Journal Title -->
    <% if @journal %>
      <!-- id="element" to contain animated typing -->
      <h1 id="journal-title" class="special-headline">
        <% if @journal.title.nil? %>
          <span id="element"></span>
        <% else %>
          <%= @journal.title %>
        <% end %>
      </h1>
    <% else %>
      <h1 class="special-headline">My To-Do List</h1>
    <% end %>

    <!-- Filter & Navigation -->
    <div class="filter-nav mt-sm ai-output">
      <!-- Filter Status -->
      <%= link_to "All", todos_path(journal_id: @journal), class: "marker-link" %>
      <%= link_to "Completed", todos_path(journal_id: @journal, filter: 'completed'), class: "marker-link" %>
      <%= form_with url: todos_path, method: :get, class: "d-flex align-items-center d-inline-block ms-2 dropdown" do %>
        <%= hidden_field_tag :journal_id, params[:journal_id] %>
        <%= select_tag :tag,
            options_for_select(TodosController::PREDEFINED_CATEGORIES, params[:tag]),
            include_blank: "Categories",
            class: "form-select",
            onchange: "this.form.requestSubmit()" %>
      <% end %>
    </div>

    <!-- To-Do List -->
    <ul id="todos" class="list-unstyled mt-tn">
      <% if @todos_by_tag %>
        <% @todos_by_tag.each do |tag_name, todos| %>
          <li class="category-wrapper">
            <h2 class="category-heading left-align user-content"><span><%= tag_name %></span></h2>
            <%= render partial: 'todo', collection: todos %>
          </li>
        <% end %>
      <% elsif !@todos.empty? %>
        <%= render partial: 'todo', collection: @todos %>
      <% else %>
        <p class="user-content">No To-Do's found.</p>
      <% end %>
    </ul>

    <div data-controller="toggle">
      <button data-action="click->toggle#toggleForm">➕</button>
      <div id="new_todo_form" data-toggle-target="form" style="display:none;">
        <%= render "form", todo: @todo, url: @journal ? journal_todos_path(@journal) : todos_path %>
      </div>
    </div>

    <!-- Swipe-Buttons -->
    <% if @journal %>
      <div class="swipe-button-box left">
        <%= link_to "Journal", journal_path(@journal), class: "button-swipe" %>
      </div>
      <div class="swipe-button-box down">
        <%= link_to "my To-Do List", todos_path(back_journal_id: @journal.id), class: "button-swipe" %>
      </div>
    <% elsif params[:back_journal_id] %>
      <div class="swipe-button-box up">
        <%= link_to Journal.find(params[:back_journal_id]).title, todos_path(journal_id: params[:back_journal_id]), class: "button-swipe" %>
      </div>
      <div class="swipe-button-box left">
        <%= link_to "New Journal", new_journal_path, class: "button-swipe" %>
      </div>
    <% else%>
      <div class="swipe-button-box left">
        <%= link_to "New Journal", new_journal_path, class: "button-swipe" %>
      </div>
    <% end %>
  </div>


<!-- Typed.js Animation -->
<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<!-- Setup and start animation! -->
<script>
  var typed = new Typed('#element', {
    strings: ['<i>Tudy</i> is thinking','...', 'just a moment please',''],
    typeSpeed: 50,
  });
</script>
