<%= turbo_stream_from "journal_stream" %>
<% content_for :body_class, "lined-paper" %>

<!--app/view/todos/index.html.erb-->

<!-- this is the page after new journal entry- -->
<div  id="todo-container" data-controller="swipe"
    data-swipe-right-url-value="<%=new_journal_path(@journal)%>">

<% if @journal %>
  <h1 id="journal-title" class="special-headline"><%= @journal.title %></h1>
<% else %>
  <h1>My To-Do List</h1>
<% end %>

<div>
  <%= link_to "All", todos_path(journal_id: @journal), class: "btn" %>
  <%= link_to "Completed", todos_path(journal_id: @journal, filter: 'completed'), class: "btn" %>
</div>

<ul id="todos" class="list-unstyled">
  <%= render @todos %>
</ul>

<div data-controller="toggle">
  <button data-action="click->toggle#toggleForm">➕</button>

  <div id="new_todo_form" data-toggle-target="form" style="display:none;">
    <%= render "form", todo: @todo, url: @journal ? journal_todos_path(@journal) : todos_path %>
  </div>
</div>

<% if @journal %>
  <%= link_to "<", journal_path(@journal), class: "button-swipe left" %>
  <%= link_to "v", todos_path, class: "button-swipe down" %>
  <!--currently dead end need to find a way to go back to journal to do's-->
<% end %>
</div>
