<% content_for :body_class, "crumbled-paper" %>
<div
data-controller="swipe"
data-swipe-down-url-value="<%= root_path %>">



<div class="journals main-container">
  <h1 class="typewriter">My Journals</h1>
  <div class="journal-form-wrapper">
    <%#  Journal Title & Summary %>
    <ul class="list-unstyled">
    <% @journals.order(created_at: :desc)
                .group_by { |j| j.created_at.beginning_of_month }
                .each do |month, journals| %>
      <li>
        <h2><%= month.strftime("%B %Y") %></h2>
        <ul class="list-unstyled">
          <% journals.each do |journal| %>
            <li>
              <div class="journal-header">
                <div class="journal-title-date">
                  <span class="journal-date"><%= journal.created_at.strftime("%d") %></span>
                  <h4 class="handwritten">
                    <%= link_to journal.title, journal_path(journal),  class: "text-decoration-none text-reset" %>
                  </h4>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

    <!-- NAVIGATION-BUTTONS  -->

    <div class="swipe-button-box up">
      <%= link_to "home", root_path, class: "button-swipe" %>
    </div>

    <!-- Link goes back to Journal, if user was coming from Journal -->

    <div class="swipe-button-box right">
      <% if params[:journal_id] %>
        <%= link_to "Journal", journal_path(params[:journal_id]), class: "button-swipe" %>
      <% else %>
        <%= link_to "new", new_journal_path, class: "button-swipe" %>
      <% end %>
    </div>



  </div>
</div>
