<% content_for :body_class, "crumbled-paper" %>

<%# Previous journals %>
<% older_journal = Journal.all.order(created_at: :desc).first %>

<div class="journal-new-page main-container"
     data-controller="swipe"
     data-swipe-right-url-value="<%= root_path %>"
     data-swipe-left-url-value="<%= todos_path %>"
     data-swipe-up-url-value="<%= journal_path(older_journal) %>">
  <h1>a penny for your thought...</h1>

  <div class="journal-form-wrapper">
    <%= simple_form_for @journal, html: { class: "journal-form", data: { action: "input->form-validation#toggleSubmitButton" } } do |f| %>

      <%= f.error_notification %>

      <%= f.input :content,
                  as: :text,
                  label: false,
                  placeholder: "What's on your mind?",
                  input_html: { class: "journal-input", data: { "form-validation-target": "input" } } %>

      <div class="swipe-button-box right">
        <%# ??? How can we style the right button - ideally like show page ??? %>
        <%= f.button :submit,
                    "TODOs",
                    class: "button-swipe",
                    data: { "form-validation-target": "submit" } %>
      </div>

      <%= f.input :file,
                  as: :file,
                  label: false,
                  input_html: {
                    id: "journal_file_input",
                    class: "d-none",
                  }
                  %>

      <%# a label styled like a button with an icon %>
      <div class="d-flex justify-content-end mt-2">
        <label for="journal_file_input"
              class="d-inline-flex align-items-center gap-2"
              style="z-index: 1000; position: relative;">
          <span class="fs-1">📎</span>
        </label>
      </div>

    <% end %>
  </div>

    <%# Swipe Buttons %>
    <div class="swipe-button-box left">
      <%= link_to "Journals", root_path, class: "button-swipe" %>
    </div>

    <% if older_journal %>
      <div class="swipe-button-box down">
        <%= link_to "Next Journal", journal_path(older_journal), class: "button-swipe" %>
      </div>
    <% end %>

</div>
