<% content_for :body_class, "crumbled-paper" %>

<%# Find the previous/next (older/newer) journal by date %>
<% older_journal = Journal.where("created_at < ?", @journal.created_at).order(created_at: :desc).first %>
<%# Next newer record: order ASC and take first %>
<% newer_journal = Journal.where("created_at > ?", @journal.created_at).order(created_at: :asc).first %>

<div class="journal-new-page"
     data-controller="swipe"
     data-swipe-left-url-value="<%= root_path(journal_id: @journal.id) %>"
     data-swipe-right-url-value="<%= todos_path(journal_id: @journal.id) %>"
     <% if older_journal %>
       data-swipe-up-url-value="<%= journal_path(older_journal) %>"
     <% end %>>

  <h1><%= @journal.created_at.strftime("%B %d, %Y") %></h1>

  <div class="journal-form-wrapper">
    <% if @journal.title.present? %>
      <h3><%= @journal.title %></h3>
    <% end %>

    <% if @journal.content.present? %>
      <p><%= @journal.content %></p>
    <% end %>

    <% if @journal.summary.present? %>
      <p>Journal Summary:</p>
      <p><%= @journal.summary %></p>
    <% end %>

    <% if @journal.tags.any? %>
      <p>Tags:</p>
      <ul class="list-unstyled">
        <% @journal.tags.each do |tag| %>
          <li># <%= tag.name %> - <%= tag.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
