<% content_for :body_class, "aquarell-paper" %>
<%# Previous/next journals - DEFINE THESE FIRST %>
<% older_journal = current_user.journals.where("created_at < ?", @journal.created_at).order(created_at: :desc).first %>
<% newer_journal = current_user.journals.where("created_at > ?", @journal.created_at).order(created_at: :asc).first %>

<div
  ddiv
  data-controller="swipe"
  data-swipe-right-url-value="<%= journals_path(journal_id: @journal.id) %>"
  data-swipe-down-url-value="<%= newer_journal ? journal_path(newer_journal) : new_journal_path %>"
  data-swipe-up-url-value="<%= older_journal ? journal_path(older_journal) : nil %>"
  style="min-height: 100vh;"
>
<div class="journal-new-page">
  <div class="typewriter journal-date p-5">

    <%# AI Generated Stuff to Toggle %>
    <div data-controller="journal-toggle">
      <div id="toggler" data-action="click->journal-toggle#toggle">
        <h1 class="special-headline mt-md"><%= @journal.title %></h1>
        <h3 class="mt-md"><%= @journal.created_at.strftime("%B %d, %Y") %></h3>
        <span class="ai-output mt-md">(more)</span>
      </div>

      <div id="toggle-box" data-journal-toggle-target="box" class="hidden">

        <p class="user-content mt-md tags-display-journal"><%= @journal.summary %></p>

        <% if @journal.tags.any? %>
          <ul class="list-unstyled horizontal-list ai-output">
              <% @journal.tags.uniq.each do |tag| %>
              <li><p>#<%= tag.name %></p></li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>
  </div>


  <div class="journal-form-wrapper">

    <div class="user-content">
      <p class="user-content mt-sm"><%= @journal.content %></p>
    </div>

    <!-- Navigation-Buttons -->
    <div class="swipe-button-box left">
      <%= link_to "Journals", journals_path(journal_id: @journal.id), class: "button-swipe" %>
    </div>

    <div class="swipe-button-box right">
      <%= link_to "Todos", todos_path(journal_id: @journal.id), class: "button-swipe" %>
    </div>

    <div class="swipe-button-box up">
      <% if newer_journal %>
        <%= link_to "Previous Journal", journal_path(newer_journal), class: "button-swipe" %>
      <% else %>
        <%= link_to "New Journal", new_journal_path, class: "button-swipe" %>
      <% end %>
    </div>

    <% if older_journal %>
      <div class="swipe-button-box down">
        <%= link_to "Next Journal", journal_path(older_journal), class: "button-swipe" %>
      </div>
    <% end %>

  </div>
</div>
