<<<<<<< HEAD
<% content_for :body_class, "aquarell-paper" %>
=======
<% content_for :body_class, "crumbled-paper" %>
<%# Previous/next journals - DEFINE THESE FIRST %>
<% older_journal = current_user.journals.where("created_at < ?", @journal.created_at).order(created_at: :desc).first %>
<% newer_journal = current_user.journals.where("created_at > ?", @journal.created_at).order(created_at: :asc).first %>
>>>>>>> origin

<div
  data-controller="swipe"
  data-swipe-down-url-value="<%= root_path %>"
  data-swipe-up-url-value="<% if older_journal %><%= journal_path(older_journal) %><% else %><%= journal_path(newer_journal) if newer_journal %><% end %>"
  style="min-height: 100vh;">
<div class="journal-new-page">
  <div class="typewriter journal-date p-5">
    <%# AI Generated Stuff to Toggle %>
    <div data-controller="journal-toggle">
      <div id="toggler" data-action="click->journal-toggle#toggle", class="typewriter my-5">
        <%= @journal.created_at.strftime("%B %d, %Y") %>
        (more)
      </div>

      <div id="toggle-box" data-journal-toggle-target="box" class="typewriter hidden">

        <p><strong><%= @journal.title %>:</strong> <%= @journal.summary %></p>

        <% if @journal.tags.any? %>
          <ul class="list-unstyled">
            <% @journal.tags.each do |tag| %>
              <li><p>#<%= tag.name %> - <%= tag.content %></p></li>
            <% end %>
          </ul>
        <% end %>

      </div>
    </div>
  </div>


  <div class="journal-form-wrapper">

    <div class="handwritten-user">
      <p><%= @journal.content %></p>
    </div>


    <!-- Navigation-Buttons -->
    <div class="swipe-button-box left">
      <%= link_to "Journals", journals_path(journal_id: @journal.id), class: "button-swipe" %>
    </div>

    <div class="swipe-button-box right">
      <%= link_to "Todos", todos_path(journal_id: @journal.id), class: "button-swipe" %>
    </div>

    <div class="swipe-button-box up">
      <% if newer_journal %>
        <%= link_to "Previous Journal", journal_path(newer_journal), class: "button-swipe" %>
      <% else %>
        <%= link_to "New Journal", new_journal_path, class: "button-swipe" %>
      <% end %>
    </div>

    <% if older_journal %>
      <div class="swipe-button-box down">
        <%= link_to "Next Journal", journal_path(older_journal), class: "button-swipe" %>
      </div>
    <% end %>

  </div>
</div>
