<% content_for :body_class, "crumbled-paper" %>

<%# Find the previous (older) journal by date %>
<% older_journal = Journal.where("created_at < ?", @journal.created_at).order(created_at: :desc).first %>

<div class="journal-new-page">
  <h1><%= @journal.created_at.strftime("%B %d, %Y") %></h1>
  <div class="journal-form-wrapper">
    <h3><%= @journal.title %></h3>

    <div style="">
      <p style="white-space:pre-wrap; margin:0 0 12px;">
        <%= @journal.content %>
      </p>

      <% if @journal.summary.present? %>
        <p style="margin:12px 0 0;">
          <strong>Summary:</strong>
          <span><%= @journal.summary %></span>
        </p>
      <% end %>
    </div>

    <%= link_to "<", root_path(journal_id: @journal.id), class: "button-swipe left" %>
    <%= link_to ">", todos_path(journal_id: @journal.id), class: "button-swipe right" %>
    <%= link_to "V", journal_path(@journal), class: "button-swipe down" %>
    <%= link_to "^", journal_path(@journal), class: "button-swipe up" %>

  </div>
</div>
