<% content_for :body_class, "crumbled-paper" %>

<%# Find the previous/next (older/newer) journal by date %>
<% older_journal = Journal.where("created_at < ?", @journal.created_at).order(created_at: :desc).first %>
<% newer_journal = Journal.where("created_at > ?", @journal.created_at).order(created_at: :desc).last %>


<div class="journal-new-page">
  <h1><%= @journal.created_at.strftime("%B %d, %Y") %></h1>
  <div class="journal-form-wrapper">
    <h3><%= @journal.title %></h3>
    <p class="user-content"><%= @journal.content %></p>
    <p>Journal Summary:</p>
    <p class="ai-output">
      <% if @journal.summary.present? %>
          <%= @journal.summary %>
      <% end %>
    </p>
    <p>Tags:</p>
    <ul class="list-unstyled ai-output">
      <% @journal.tags.each do |tag| %>
          <li># <%= tag.name %> - <%= tag.content %></li>
      <% end %>
    </ul>

    <%= link_to "<", root_path(journal_id: @journal.id), class: "button-swipe left" %>
    <%= link_to ">", todos_path(journal_id: @journal.id), class: "button-swipe right" %>


    <% if older_journal %>
      <%= link_to "V", journal_path(older_journal), class: "button-swipe down" %>
    <% end %>

    <% if newer_journal %>
      <%= link_to "^", journal_path(newer_journal), class: "button-swipe up" %>
    <% else %>
      <%= link_to "^", new_journal_path, class:"button-swipe up" %>
    <% end %>
    </div>
</div>
