<h1>Todo Brief</h1>
<p><%= @journal.created_at.to_date %></p>
<p>Journal Title:</p>
<h3><%= @journal.title %></h3>
<p>Journal Summary:</p>
<p><%= @journal.summary %></p>

<p>Tags:</p>
<ul class="list-unstyled">
  <% @journal.tags.each do |tag| %>
      <li># <%= tag.name %> - <%= tag.content %></li>
  <% end %>
</ul>

<%= link_to todos_path(journal_id: @journal.id), class: "text-decoration-none" do %>
  <div class="todos_brief">
    <p>TODOs:</p>
    <ul>
      <% @journal.todos.each do |todo|%>
        <li><%= todo["title"] %> - <%= todo["description"] %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to "<", journal_path(@journal) %>
