<% content_for :body_class, "crumbled-paper" %>

<% oldest = current_user.journals.order(:created_at).last %>

<div class="journal-new-page"
     data-controller="swipe"
     data-swipe-left-url-value="<%= journal_path(@journal) %>"
     data-swipe-right-url-value="<%= todos_path(journal_id: @journal.id) %>"
     data-swipe-down-url-value="<%= oldest ? journal_todo_brief_path(oldest) : journal_todo_brief_path(@journal) %>">
  <h1><%= @journal.created_at.strftime("%B %d, %Y") %></h1>

  <div class="journal-form-wrapper">
    <h3><%= @journal.title %></h3>

    <p>Journal Summary:</p>
    <p><%= @journal.summary %></p>

    <p>Tags:</p>
    <ul class="list-unstyled">
      <% @journal.tags.each do |tag| %>
        <li># <%= tag.name %> - <%= tag.content %></li>
      <% end %>
    </ul>

    <%= link_to todos_path(journal_id: @journal.id), class: "text-decoration-none" do %>
      <div class="todos_brief">
        <p>TODOs:</p>
        <ul>
          <% @journal.todos.each do |todo| %>
            <li><%= todo.title %> - <%= todo.description %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
