<!DOCTYPE html>
<html>
  <head>
    <title>TudyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="view-transition" content="same-origin" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%# PWA stuff %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="apple-touch-icon" href="app/assets/images/icons/apple-icon-180x180.png">
    <%= render 'shared/ios_pwa_links' %>

    <%# thumbnail stuff %>

    <%= favicon_link_tag 'favicon.png' %>
    <!-- Open Graph (WhatsApp, Slack, Facebook, Telegram) -->
    <meta property="og:title" content="Tudy App - Study Smarter 📚">
    <meta property="og:description" content="Your daily journaling and study companion.">
    <meta property="og:image" content="<%= asset_url('preview.png') %>">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:type" content="website">

    <!-- Twitter Card (Twitter/X) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tudy App - Study Smarter 📚">
    <meta name="twitter:description" content="Your daily journaling and study companion.">
    <meta name="twitter:image" content="<%= asset_url('preview.png') %>">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="<%= (content_for?(:body_class) && yield(:body_class).include?('main-container')) ? 'main-container' : 'custom-container' %>">
     <%= yield %>
      </div>
    </div>
  </body>
</html>
