<!DOCTYPE html>
<html>
  <head>
    <title>TudyApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="view-transition" content="same-origin" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%# PWA stuff %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  </head>

  <body class="<%= content_for?(:body_class) ? yield(:body_class) : '' %>">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <div class="<%= (content_for?(:body_class) && yield(:body_class).include?('main-container')) ? 'main-container' : 'custom-container' %>">
     <%= yield %>
      </div>
    </div>
  </body>
</html>
